.tag p{
    margin-left: 130px;
}





/* 分页 */
#pages{
    height: 50px;
    margin-top: 50px;
    text-align: center;
    /*background-color: #A9A9A9;*/
}

.step-links a{
    /*width: auto;*/
    /*height: 50px;*/
    color: #fff;
    background-color: 	#CFCFCF;
    padding: 5px;
    border-radius: 8px;
}

.step-links a:hover{
    color: #c20c0c;
}