<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RAINBOW</title>
    {% load static %}
    {#  网页标题显示图标  #}
    <link rel="icon" href="{% static 'pic/rainbow_icon.ico' %}" type="image/x-icon">
    {# 收藏夹显示的图标 #}
    <link rel="shortcut icon" href="{% static 'pic/rainbow_icon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/admin_login.css' %}">

    <script language="javascript" src="{% static 'js/admin.js' %}" type="text/javascript" defer="defer"> </script>


    <!--引入jq库-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
     <!--引入自定义弹窗-->
    <script src="{% static "js/pupopTip.js" %}"></script>


</head>
<body>
    <div id="admin_login">
        <p id="title">Administrator</p>
        <form action="{% url 'admin' %}" method="post">
            {% csrf_token %}
            <p>username: <input type="text" name="username" id="username" value="username or email" ></p>
            <p>password: <input type="password" id="passwd" name="password" value="password"></p>
            <p><input type="submit" id="sub_but" value="login"></p>
        </form>
    </div>
    <p id="admin_foot">申请管理员账号，请联系管理员</p>

    {% if context %}
        <script>
            alert("{{ context }}");
        </script>
    {% endif %}

</body>
</html>