{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rotate.css' %}">

    {% if id == 20116920 %}
        <div class="detail_head">
            <div class="pic" style="background: url('/static/pic/rotate_1.jpg') no-repeat; background-size: 200px;">
                <div></div>
            </div>
            <div class="description">
                <p id="list_title">静好</p>
                <div id="tag">新专辑</div>
                <p id="list_tag">
                    标签：<span>流行 国语</span>
                    <p class="text_p">播放量：14.2万</p>
                    <p class="text_p">收藏量：1268</p>
                </p>

            </div>

        </div>

        <div id="mid"></div>

        <div class="box">
            <div class="info">
                <div class="img" style="background: url('/static/pic/rotate_1.jpg') center/100% 100% no-repeat"></div>
                <span class="name_author">静好 - 刘涛</span>
                <span class="album">专辑：静好</span>
            </div>
            <audio class="media" controls="controls">
    {#            <source src="{{ info.mp3 }}">#}
                <source src="/static/audio/jinghao.mp3">
            </audio>
        </div>
    {% endif %}


    {% if id == 20000869 %}
        <div class="detail_head">
            <div class="pic" style="background: url('/static/pic/rotate_2.jpg') no-repeat; background-size: 200px;">
                <div></div>
            </div>
            <div class="description">
                <p id="list_title">逆风</p>
                <div id="tag">新专辑</div>
                <p id="list_tag">
                    标签：<span>pop 流行 国语</span>
                    <p class="text_p">播放量：14.2万</p>
                    <p class="text_p">收藏量：1268</p>
                </p>

            </div>

        </div>

        <div id="mid"></div>

        <div class="box">
            <div class="info">
                <div class="img" style="background: url('/static/pic/rotate_2.jpg') center/100% 100% no-repeat"></div>
                <span class="name_author">逆风 - 毛不易</span>
                <span class="album">专辑：逆风</span>
            </div>
            <audio class="media" controls="controls">
                <source src="/static/audio/逆风.mp3">
            </audio>
        </div>
    {% endif %}

    {% if id == 20051302 %}
        <div class="detail_head">
            <div class="pic" style="background: url('/static/pic/rotate_6.jpg') no-repeat; background-size: 200px;">
                <div></div>
            </div>
            <div class="description">
                <p id="list_title">笔触</p>
                <div id="tag">新专辑</div>
                <p id="list_tag">
                    标签：<span>pop 流行 国语</span>
                    <p class="text_p">播放量：14.2万</p>
                    <p class="text_p">收藏量：1268</p>
                </p>

            </div>

        </div>

        <div id="mid"></div>

        <div class="box">
            <div class="info">
            <div class="img" style="background: url('/static/pic/rotate_6.jpg') center/100% 100% no-repeat"></div>
                <span class="name_author">笔触 - 郁可唯</span>
                <span class="album">专辑：笔触</span>
            </div>
            <audio class="media" controls="controls">
    {#            <source src="{{ info.mp3 }}">#}
                <source src="/static/audio/笔触.mp3">
            </audio>
        </div>
    {% endif %}


    {% if id == 2036058 %}
        <div class="detail_head">
            <div class="pic" style="background: url('/static/pic/rotate_4.jpg') no-repeat; background-size: 200px;">
                <div></div>
            </div>
            <div class="description">
                <p id="list_title">解释不清</p>
                <div id="tag">新专辑</div>
                <p id="list_tag">
                    标签：<span>pop 流行 国语</span>
                    <p class="text_p">播放量：14.2万</p>
                    <p class="text_p">收藏量：1268</p>
                </p>

            </div>

        </div>

        <div id="mid"></div>

        <div class="box">
            <div class="info">
            <div class="img" style="background: url('/static/pic/rotate_4.jpg') center/100% 100% no-repeat"></div>
                <span class="name_author">解释不清 - 韩安旭</span>
                <span class="album">专辑：解释不清</span>
            </div>
            <audio class="media" controls="controls">
                <source src="/static/audio/解释不清.mp3">
            </audio>
        </div>
    {% endif %}


    {% if id == 20360586 %}
        <div class="detail_head">
            <div class="pic" style="background: url('/static/pic/rotate_5.jpg') no-repeat; background-size: 200px;">
                <div></div>
            </div>
            <div class="description">
                <p id="list_title">Time with you</p>
                <div id="tag">新专辑</div>
                <p id="list_tag">
                    标签：<span>pop 流行 国语</span>
                    <p class="text_p">播放量：14.2万</p>
                    <p class="text_p">收藏量：1268</p>
                </p>

            </div>

        </div>

        <div id="mid"></div>

        <div class="box">
            <div class="info">
            <div class="img" style="background: url('/static/pic/rotate_5.jpg') center/100% 100% no-repeat"></div>
                <span class="name_author">Time with you - 규현 (圭贤)</span>
                <span class="album">专辑：Time with you</span>
            </div>
            <audio class="media" controls="controls">
                <source src="/static/audio/Time%20with%20you.mp3">
            </audio>
        </div>
    {% endif %}

    {% if id == 20063705 %}
        <div class="detail_head">
            <div class="pic" style="background: url('/static/pic/rotate_7.jpg') no-repeat; background-size: 200px;">
                <div></div>
            </div>
            <div class="description">
                <p id="list_title">破冰</p>
                <div id="tag">新专辑</div>
                <p id="list_tag">
                    标签：<span>流行 国语</span>
                    <p class="text_p">播放量：14.2万</p>
                    <p class="text_p">收藏量：1268</p>
                </p>

            </div>

        </div>

        <div id="mid"></div>

        <div class="box">
            <div class="info">
            <div class="img" style="background: url('/static/pic/rotate_7.jpg') center/100% 100% no-repeat"></div>
                <span class="name_author">破冰 - 金志文</span>
                <span class="album">专辑：破冰</span>
            </div>
            <audio class="media" controls="controls">
                <source src="/static/audio/破冰.mp3">
            </audio>
        </div>
    {% endif %}

{% endblock %}